<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.varun.decorator.main.DecoratorClass"
            id="com.varun.decorator.final.decorator1"
            label="Certificates"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
		  <enablement>
		  		<objectClass name="org.eclipse.core.resources.IFile"/>	
		  </enablement>
      </decorator>
   </extension>

</plugin>
